.form{
    position: absolute;
    right: 10px;
    top: 10px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    padding: 30px;
    min-height: 100vh;
}
